// ===============================================
// Variables.styl                               ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

font-family = {
  normal: unquote('"Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif'),
  serif: unquote('Georgia, "Times New Roman", Times, SimSun, serif'),
  kai: unquote('Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif'),
  monospace: unquote('"Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace')
}

color = {
  normal: #222,
  link: #333,

  gray: #888,
  grey: #ddd,
  light-gray: #dbdbdb,
  light-grey: #f7f7f7,
  dark-grey: #e8e8e8
}

// Media queries
mq-mobile = 'screen and (max-width: 479px)'
mq-tablet = 'screen and (min-width: 480px) and (max-width: 767px)'
mq-normal = 'screen and (min-width: 768px)'