// ===============================================
// Lutachu CSS / Variables.styl                 ||
// Framework's Variables                        ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-18 22:12  ||
// Last Update: 2015-02-19 22:38 @ Rakume       ||
// MIT License                                  ||
// ===============================================

ns = 'lu-'

/* Typography */
font-size   = 18px
font-family = "Segoe UI", "Lucida Grande", Helvetica,  "Droid Sans", "Source Han Sans CN", "Source Han Sans", "wenquanyi micro hei", "roboto", "NotoSans CJK", "Microsoft Jhenghei", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", FreeSans, Arimo, sans-serif
font-family-serif     = Georgia, "Times New Roman", Times, SimSun, serif
font-family-kai       = Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif
font-family-monospace = "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace

/* Color */

// Font
color-font            = #222223
color-font-link       = #555
color-font-link-hover = color-font
color-font-code       = #808080
color-font-pre        = #4C4C4C
color-font-blockquote = #666664
color-font-mark       = color-font
color-font-blockquote-small = #999

// Button
color-font-btn = #444
color-font-btn-primary = #FFF

// Background
color-background-pre  = #F8F8F8
color-background-code = #F9F9F7
color-background-mark = #FFA

// Button
color-background-btn           = #E6E6E6
color-background-btn-primary   = #0078E7
color-background-btn-secondary = #42B8DD
// Border
color-border      = #E2E2E2
color-border-dark = darken(color-border, 2)

// Table Background
color-background-th      = darken(color-border, .5)
color-background-th-mark = #FFA
color-background-th-odd  = lighten(color-background-th, 7)

/* Width */
width-border = 2px

/* Grid */
gridMaxColumn = 12