/**
 * Typography / Article.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

article
summary
  a
    text-decoration-color: rgba(0, 0, 0, .4)

  p
    text-justify: ideographic
    text-align: justify
    letter-spacing: .3px
