/**
 * Typography / Article.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

article
summary
  a
    text-decoration: underline

  p
    text-align: justify
    text-justify: inter-ideograph /* For IE */

    letter-spacing: .3px

  &.text-indent
    p::before
      content: "\3000\3000"
      display: inline
