// ===============================================
// Typograhpy / Article.styl                    ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

article
summary
  a
    text-decoration-color: rgba(0, 0, 0, .4)

  p
    text-justify: ideographic
    text-align: justify
    letter-spacing: .3px
