/**
 * Elements / Blockquote.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"

blockquote
  padding: 0 1.5rem
  margin-left: 0

  color: blockquote-color

  font-family: blockquote-font-family
  line-height: blockquote-line-height

  border-left: blockquote-border-width blockquote-border-style blockquote-border-color

  a
    color: blockquote-link-color

  p
    margin-bottom: .5rem

    &:last-child
      margin-bottom: 0

  b
  em
  cite
  strong
    color: blockquote-color-dark

  & + p
    margin-top: 1em
