/**
 * Typography / Figure.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"

figure
  text-align: center

  &.is-full
    margin-left: -13%
    margin-right: -13%

    img
      width: 100%

  &.is-left
  &.is-right
    width: 50%

  figcaption
    color: figcaption-color

    font-size: 75%
    margin-top: .5rem

@media mq-non-desktop
  figure
    &.is-full
      margin-left: -4%
      margin-right: -4%

    &.is-left
    &.is-right
      margin-left: 0

      float: none !important
      width: 100% !important
