/**
 * Typography / List.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

ul
ol
  padding-left: 2em

  line-height: 1.62

li
  margin-bottom: .2rem

  ul
  ol
    margin: .5rem 0

ul li
  list-style-type: disc

  ul li
    list-style-type: circle

    ul li
      list-style-type: square

ol li
  ol li
    list-style-type: upper-roman

    ol li
      list-style-type: lower-roman
