// ===============================================
// Components / Poem.styl                       ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

@require "../variables"

// Horizontal Poem
// ==============================================

.poem
  &.is-horizontal
    text-align: center
    margin: 2em 0

    p
      margin-bottom: .2em

      &:before
        content: none

    .author
      display: block
      text-align: right
      font-weight: 800

      &:before
        content: '——'

  // Vertical Poem
  // ==============================================

  &.is-vertical
    display: block
    white-space: pre-line
    margin: 2em auto
    line-height: 1.4em

    -webkit-writing-mode: vertical-lr
    writing-mode: vertical-lr

    h1
    h2
    h3
    h4
    h5
    h6
    .title
      margin: 0
      margin-left: -.5rem
      font-weight: bold
      font-family: font-family-serif

      &:before
        content: none

      .author
        font-size: 60%

    p
      margin: 0 -.3rem
      text-align: left
      max-height: 600px
      letter-spacing: inherit
      word-wrap: break-word
      white-space: pre-line

      &:before
        content: none

  &.is-left
    -webkit-writing-mode: vertical-lr
    writing-mode: vertical-lr

  &.is-right
    -webkit-writing-mode: vertical-rl
    writing-mode: vertical-rl
