// ===============================================
// Typograhpy / Quote.styl                      ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

q
  &
  &:lang(en)
  &:lang(zh-CN)
    quote: "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019" "\201c" "\201d" "\2018" "\2019"

.poem.is-vertical:lang(zh) q
.poem.is-vertical:lang(zh-CN) q
q:lang(zh)
    quote: "\300c" "\300d" "\300e" "\300f" "\300c" "\300d" "\300e" "\300f" "\300c" "\300d" "\300e" "\300f"
