// ===============================================
// Typograhpy / Title.styl                      ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"

h1
h2
h3
h4
h5
h6
  margin-top: 1.2em
  margin-bottom: .6em
  font-weight: normal

  color: color-normal
  font-family: font-family-sans-serif

  + *,
  + p
    margin-top: 0

  + hr
    width: 100%

    border-top-width: 1px
    margin-top: 0

h1
  font-size: 2em

h2
  font-size: 1.8em

h3
  font-size: 1.5em

h4
  font-weight: bold
  font-size: 1.2em

h5
h6
  font-size: 1em
  font-weight: bold
