/**
 * Typography / Typography.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"

body
  color: global-color

  font-size: global-font-size
  font-weight: global-font-weight
  font-family: global-font-family

  line-height: global-line-height

  letter-spacing: .01em

p
  margin-top: 0

  line-height: 1.86
  word-break: break-word

.lead
  font-size: 1.2em

a
  color: link

  img
    border: 0

pre, blockquote
figure, table, iframe
p, ul, ol, dl
form
  margin-bottom: 2.5rem

b
cite
strong
  color: inherit

  a
    color: inherit

hr
  display: block

  border: 0 none
  margin: 2em auto

  border-top-width: 1px
  border-top-style: solid
  border-top-color: hr-border-color

iframe
  border: 0

  width: 100%
  max-width: 100%

  overflow: auto

abbr[title]
dfn[title]
  cursor: help
  border-bottom: 1px dotted

dt
  padding: 0
  font-weight: 800

dd
  margin-left: 0

dt + dd
  margin-top: .2em

dd + dt
  margin-top: .6em

[draggable]
  cursor: move

mark
  color: mark-color
  background: mark-background-color

  border-bottom: 1px solid
  border-bottom-color: mark-border-color

tt
kbd
code
pre
samp
  font-size: 1em
  font-family: font-family-monospace
