// ===============================================
// Lutachu CSS / Base.styl                      ||
// Some Utillyties                              ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 17:48  ||
// Last Update: 2015-02-19 20:46 @ Rakume       ||
// MIT License                                  ||
// ===============================================

/* Border Radius */

.{ns}squre
  border-radius 0

.{ns}circle
  border-radius 50%

/* Float */

.{ns}fl
  float left

.{ns}fr
  float right

.{ns}ofh
  overflow hidden

/* Text & Block */

.{ns}center
  center()

/* Display */

.{ns}block
  display block !important

.{ns}inline
  display inline !important

.{ns}inline-block
  display inline-block !important

.{ns}hide
  display none !important
  visibility hidden !important

/* Text */

// Font-family

.{ns}serif
  font-family font-family-serif

.{ns}kai
  font-family font-family-kai

.{ns}monospace
  font-family font-family-monospace


// Align

.{ns}text-left
  text-align left!important

.{ns}text-right
  text-align right!important

.{ns}text-center
  text-align center!important

// Vertical Align

.{ns}text-top
  vertical-align: top!important;

.{ns}text-middle
  vertical-align: middle!important;

.{ns}text-bottom
  vertical-align: bottom!important;

// Text Truncate

.{ns}text-truncate
  word-wrap normal /* for IE */
  text-overflow ellipsis
  white-space nowrap
  overflow hidden
  
.{ns}text-norwap
  word-wrap normal /* for IE */
  white-space nowrap
  overflow hidden

.{ns}text-break
  word-wrap break-word
  word-break break-all

// Align

.{ns}align-right,
.{ns}align-left
  display inline

.{ns}align-left
  float left
  margin-right .5em

.{ns}align-right
  float right
  margin-left .5em