// ===============================================
// Lutachu CSS / Grid.styl                      ||
// 1~12 Rows Grid System                        ||
// Made by Rakume<i@fake.moe> 2015-02-19 19:36  ||
// Last Update: 2015-02-19 20:46 @ Rakume       ||
// MIT License                                  ||
// ===============================================

.{ns}grid
  center()
  clearfix()

  margin-top 1em
  margin-left -1em
  margin-right -1em

  &.fixed
    max-width 1120px

[class*={ns}unit-]
  float left
  padding 1em
  display inline

for f in 1..gridMaxColumn
  for n in 1..f
    .{ns}unit-{n}-{f}
      width (n/f) * 100 + '%'

  // AVG Grid
  .{ns}avg-{f}
    > li
      width (1/f) * 100 + '%'

@media (max-width: 700px)
  [class*={ns}unit-]
    display block
    float none
    width auto