// ===============================================
// Lutachu CSS / Grid.styl                      ||
// 1~12 Rows Grid System                        ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 19:36  ||
// Last Update: 2015-02-20 16:38 @ Rakume       ||
// MIT License                                  ||
// ===============================================

.row
  center()
  clearfix()

  margin-top 1em
  margin-left -1em
  margin-right -1em

  &.fixed
    max-width 1120px

[class*=grid-u-]
  float left
  padding 1em
  display inline

for f in 1..gridMaxColumn
  for n in 1..f
    if f == gridMaxColumn
      .grid-u-{n}-{f},
      .grid-u-{n}
        width (n/f) * 100 + '%'

        &.grid-ml-{n}-{f},
        &.grid-ml-{n}
          margin-left (n/f) * 100 + '%'
    else
      .grid-u-{n}-{f}
        width (n/f) * 100 + '%'

        &.grid-ml-{n}-{f}
          width (n/f) * 100 + '%'

  // AVG Grid
  .grid-avg-{f}
    > li
      width (1/f) * 100 + '%'

@media (max-width: 700px)
  [class*=grid-u-]
    display block
    float none
    width auto