// ===============================================
// Elements / Blockquote.styl                   ||
//                                              ||
// =============================================||
// Since 2016 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

blockquote
  padding: 0 1.5rem
  margin-left: -1.5rem
  margin-right: -1.5rem

  line-height: 1.62

  color: color-dark-grey
  border-left: border-width solid color-border-normal

  a
    color: color-link-grey

  p
    margin-bottom: .5rem

    &:last-child
      margin-bottom: 0

  b
  em
  cite
  strong
    color: #777

  & + p
    margin-top: 1em
