// ===============================================
// Elements / Button.styl                       ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/button"

.button
  make-button: #fff

  [class*=icon-]
    font-size: 150%

  color-name = primary secondary success error warning
  color-value = color-primary color-secondary color-success color-error color-warning

  for color, i in color-name
    &.-{color}
      set-button-color: color-value[i]

  &.-ghost
    make-ghost-button: #fff

    for color, i in color-name
      &.-{color}
        set-ghost-button-color: color-value[i]

  &.-large
    font-size: 130%

  &.-medium
    font-size: 110%

  &.-small
    font-size: 80%
