// ===============================================
// Elements / Button.styl                       ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/button"

.button
  make-button: #fff
  box-shadow: color-border-light 0 0 0 1px inset

  [class*=icon-]
    margin-right: .5rem
    font-size: 150%

  color-name = primary secondary success error warning
  color-value = color-primary color-secondary color-success color-error color-warning

  for color, i in color-name
    &.is-{color}
      set-button-color: color-value[i]

  &.is-outlined
    make-outlined-button: #fff
    border: 0

    for color, i in color-name
      &.-{color}
        set-outlined-button-color: color-value[i]

  &.is-large
    font-size: 130%

  &.is-medium
    font-size: 110%

  &.is-small
    font-size: 80%
