// ===============================================
// Elements / Button.styl                       ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/button"

.btn
  make-button: #fff

  [class*=icon-]:before
    margin-right: .5em
    transform: scale(1.5)

.btn-primary
  set-button-color: color-primary

.btn-secondary
  set-button-color: color-secondary

.btn-success
  set-button-color: color-success

.btn-error
  set-button-color: color-error

.btn-warning
  set-button-color: color-warning

.btn-ghost
  color: #fff

  border: 2px solid
  border-radius: 5px
  background-color: transparent

  text-shadow: 1px 1px 0 rgba(0, 0, 0, .6)

  &
  &.hover
  &:hover
  &.active
  &:active
    box-shadow: inset 0px 0px 2px rgba(0, 0, 0, .6)

  &.hover
  &:hover
    color: #fff

    border: 2px solid
    background-color: rgba(0, 0, 0, .3)

  &.active
  &:active
    color: #fff

    border: 2px solid
    background-color: rgba(0, 0, 0, .6)

  &:visited
    color: #fff

.btn-xl
  font-size: 1.5em

.btn-lg
  font-size: 1.25em

.btn-sm
  font-size: .75em

.btn-xs
  font-size: .5em
