// ===============================================
// Elements / Code.styl                         ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

@require "../variables"

tt
code
  margin: 0 .2rem
  padding: .1rem .6rem

  word-break: break-all

  background: color-background-code

pre
  display block
  overflow auto

  padding: .8em 1.5rem
  margin-left: -1.5rem
  margin-right: -1.5rem

  color: color-dark-grey
  background: color-background-code
  border-left: .3rem solid color-border-normal

  transition: .3s ease border-left-color

  &:hover
    border-left-color: color-border-focus

  code
  tt
    margin: 0
    padding: 0
    border: none

    background: transparent
