/**
 * Elements / Form.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"
@require "../mixins/box"

input[type="text"]
input[type="password"]
input[type="email"]
input[type="url"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="datetime"]
input[type="datetime-local"]
input[type="week"]
input[type="number"]
input[type="search"]
input[type="tel"]
input[type="color"]
select
textarea
input:not([type])
  max-width: 100%

  outline: none
  display: inline-block

  padding: .5em .8em
  margin-bottom: .75em

  background: #fff
  border: 1px solid color-border-normal

  border-radius: border-radius-width

  &:focus
    border-color: color-border-normal

  &[disabled]
    cursor: not-allowed

    color: #999

    border-color: #ddd
    background-color: #f9f9f9

input[type="color"]
  padding: .2em .5em

textarea
  padding: .2em .8em

option
  &[disabled]
    cursor: not-allowed

    color: #999
    border-color: #DDD
    background-color: #f9f9f9

label
  margin-bottom: .2rem

.is-radius
  input
  select
  textarea
  option
  button
  .btn
    border-radius: border-radius-width

.group
  border: 0

  padding: 0
  margin-bottom: .25em

  input
    margin: 0

    border-bottom: 0
    border-radius: border-radius-width

    &:focus
      position: relative

      margin-bottom: -1px
      border-bottom: 1px solid color-border-normal

    &:last-child
      border-bottom: 1px solid color-border-normal

      &:focus
        margin-bottom: 0
        border-bottom-color: color-border-focus

  &.is-radius
    input
      &:first-child
        border-top-radius: 5px

      &:last-child
        border-bottom-radius: 5px
