/**
 * Elements / Form.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"
@require "../mixins/box"

input[type="text"]
input[type="password"]
input[type="email"]
input[type="url"]
input[type="date"]
input[type="month"]
input[type="time"]
input[type="datetime"]
input[type="datetime-local"]
input[type="week"]
input[type="number"]
input[type="search"]
input[type="tel"]
input[type="color"]
select
textarea
input:not([type])
  max-width: 100%

  outline: none
  display: inline-block

  background: #fff
  border: 1px solid input-border-color

  border-radius: border-radius-width

input
select
textarea
  color: input-color
  padding: .2rem 1rem

  &:focus
    position: relative
    border-color: input-focus-color

  &[disabled]
    cursor: not-allowed

    background-color: input-disabled-background

textarea
  max-width: 100%

select
  padding: .5rem 1rem

label
  margin-bottom: .2rem

.form-group
  border: 0
  padding: 0

  margin-bottom: 2.5rem

  &:last-child
    margin-bottom: 0

  input
  button
  textarea
    display: block

    margin: 0
    width: 100%

    &:not(:last-child)
      margin-bottom: -1px

      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    &:not(:first-child):not(:last-child)
      border-radius: 0

    &:not(:first-child)
      border-top-left-radius: 0
      border-top-right-radius: 0

.form
  &.is-stacked
    input:not([type="checkbox"]):not([type="radio"])
    button
    select
    textarea
      display: block
      margin-bottom: 1rem

    button
      margin-top: 1rem

  &.is-align
    .control-group
      display: flex

      label
        width: 14rem
        text-align: right
        margin: 0 1rem 0 0

      input
      textarea
        flex: 1

    .controls
      margin-left: 15rem

.control-group
  margin-bottom: 1rem
