/**
 * Components / Acomment.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"

.acommets
  position: relative

.comment
  right: -2rem
  width: 12rem

  font-size: 1.2rem
  padding-top: .4rem

  position: absolute

  margin-right: -@width

  word-break: break-word

  &:before
    top: 0
    left: 0
    width: 40%
    content: ''
    position: absolute
    border-top: borde-width solid color-dark-grey

  &.is-left
    left: -2rem
    right: auto
    text-align: right
    margin-right: 0
    margin-left: -12rem

    &:before
      right: 0
      left: auto

  @media mq-non-desktop
    position: static
    margin-right: 0

    &.is-left
      margin: 0

    &:before
      border: 0
      content: ' ('
      position: static
      padding-left: .5rem

    &:after
      content: ') '
