/**
 * Components / Nav.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @author Awc Cho<orancho@outlook.com>
 * @license MIT License
 */

.nav
  padding: 0
  margin: 0

  width: 100%

  display: flex

  li
    margin: 0
    list-style: none

    a
      padding: 0 .85em

    &.nav-band a
      font-weight: bold

  .container
    width: 100%
    display: flex

  .nav-group
    display: flex

    margin: 0
    padding: 0

    &.is-right
      flex: 1
      justify-content: flex-end

  &.is-multiline
    line-height: 3rem

    .container
      margin: 0
      max-width: inherit

    &
    .container
    .nav-group
      flex-direction: column

    a
      padding: 0

  &.is-fixed
    top: 0
    left: 0
    z-index: 1000
