// ===============================================
// Components / Acomment.styl                   ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

.m-comments
  position: relative;

.m-acomment
  right: -15px;
  width: 120px;
  font-size: .9em;
  padding-top: .4em;
  position: absolute;
  font-style: normal;
  font-weight: normal;
  margin-right: -@width;

  &:before
    top: 0;
    left: 0;
    width: 40%;
    content: '';
    position: absolute;
    border-top: 1px solid color['gray'];

  .z-left
    left: -15px;
    right: auto;
    margin-right: 0;
    margin-left: -120px;

    &:before
      right: 0;
      left: auto;