// ===============================================
// Lutachu CSS / Card.styl                      ||
// Card Box                                     ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-21 18:02  ||
// Last Update: 2015-02-21 18:02 @ Rakume       ||
// MIT License                                  ||
// ===============================================

.card
  background #fff
  border-radius 3px
  box-shadow 0 1px 5px 1px rgba(0, 0, 0, .26)