// ===============================================
// Components / Card.styl                       ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

.m-card
  padding 0
  background #fff
  border-radius 3px
  position relative
  padding-bottom 50px
  box-shadow 0 1px 3px 1px rgba(0, 0, 0, .26)

  .m-card-rich
    margin 0 -1px
    min-height 50px
    position relative

    img
      margin 0
      border-top-radius 3px

    .m-card-title
      left 0
      bottom 0
      color #fff
      width 100%
      padding 0 .8em
      font-size 1.8em
      position absolute
      margin-bottom .6em
      font-weight normal
      text-shadow 1px 1px 1px rgba(0, 0, 0, .3)

  * + .m-card-rich
    img
      border-top-radius 0

  .m-card-head
    padding .8em 1.5em 0

    .m-card-title
      font-size 1.8em
      margin-bottom 0

    .m-card-subhead
      margin-top -.8em
      margin-bottom .8em

  .m-card-content
    padding .8em 1.5em
    color color['grey']

  * + .m-card-content
    padding-top 0

  .m-card-head + .m-card-content
    margin-top -.8em

  .m-card-bar
    left 0
    bottom 0
    width 100%
    height 50px
    padding 0 1.5em
    line-height 50px
    position absolute
    border-top 1px solid color-border-dark