// ===============================================
// Components / Card.styl                       ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

.m-card
  padding: 0;
  background: #fff;
  margin-bottom: 1em;
  border-radius: 2px;
  position: relative;
  padding-bottom: .8em;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);

  &.z-rich .s-head
    padding: 0;
    margin: 0 -1px;
    min-height: 50px;
    position: relative;
    margin-bottom: 1.8em;

    img,
    .s-rich-img img,
    img.s-rich-img
      margin: 0;
      border-top-radius: 3px;

    .s-title,
    .s-subtitle
      left: 0;
      bottom: 0;
      color: #fff;
      width: 100%;
      padding: 0 .8em;
      font-size: 1.8em;
      position: absolute;
      margin-bottom: .6em;
      font-weight: normal;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
      
    .s-subtitle
      left: auto;
      right: 0;
      font-size: 1em;
      text-align: right;
      margin-bottom: 1.4em;

  &.z-radius.z-rich .s-head
    img,
    .s-rich-img img,
    img.s-rich-img
      border-top-radius: 5px;

  * + .s-rich-img
    border-top-radius: 0;

  .s-head
    padding: .8em 1.5em 1em;

    .s-title
      font-size: 1.8em;
      margin-bottom: 0;

    .s-subtitle
      margin-top: -.8em;
      margin-bottom: 0;
      
    .s-rich-img
      margin: .8em -1.5em .8em;
      text-align: center;

      img
        margin: 0;

    img.s-rich-img
      margin: .8em 0;
  
  .s-rich-img + .s-head
    padding-top: .4em;

  .s-content
    padding: .8em 1.5em;
    color: color['normal'];

  * + .s-content
    padding-top 0

  .s-head + .s-content
    margin-top -.8em

  .s-bar
    left 0
    bottom 0
    width 100%
    height 50px
    padding 0 1.5em
    line-height 50px
    position absolute
    border-top 1px solid color-border-dark