// ===============================================
// Lutachu CSS / Foundation.styl                ||
// Font Icons                                   ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 19:36  ||
// Last Update: 2015-02-19 15:40 @ Rakume       ||
// MIT License                                  ||
// ===============================================

/*
 * Foundation Icons v 3.0
 * Made by ZURB 2013 http://zurb.com/playground/foundation-icon-fonts-3
 * MIT License
 */

// fi-path = "//dn-staticfile.qbox.me/foundicons/3.0.0/"
fi-path = "./fonts/"
fi-prefix = "icon-"
fi-version = "3.0.0"

@font-face
  font-family "foundation-icons"
  src url(fi-path + "foundation-icons.eot")
  src url(fi-path + "foundation-icons.eot?#iefix") format("embedded-opentype"),
       url(fi-path + "foundation-icons.woff") format("woff"),
       url(fi-path + "foundation-icons.ttf") format("truetype"),
       url(fi-path + "foundation-icons.svg#fontcustom") format("svg")
  font-weight normal
  font-style normal

[class*={fi-prefix}]
  display inline-block

  &:before
    font-family "foundation-icons"
    font-style normal
    font-weight normal
    font-variant normal
    text-transform none
    line-height 1
    -webkit-font-smoothing antialiased
    display inline-block
    text-decoration inherit

// Size

.{fi-prefix}sm
  font-size 1.5em

.{fi-prefix}md
  font-size 2em

.{fi-prefix}lg
  font-size 2.5em

// Spin

@keyframes icon-spin
  0%
    transform rotate(0deg)

  100%
    transform rotate(359deg)

.{fi-prefix}spin
  animation icon-spin 2s infinite linear

// Font

.{fi-prefix}address-book:before
  content "\f100"

.{fi-prefix}alert:before
  content "\f101"

.{fi-prefix}align-center:before
  content "\f102"

.{fi-prefix}align-justify:before
  content "\f103"

.{fi-prefix}align-left:before
  content "\f104"

.{fi-prefix}align-right:before
  content "\f105"

.{fi-prefix}anchor:before
  content "\f106"

.{fi-prefix}annotate:before
  content "\f107"

.{fi-prefix}archive:before
  content "\f108"

.{fi-prefix}arrow-down:before
  content "\f109"

.{fi-prefix}arrow-left:before
  content "\f10a"

.{fi-prefix}arrow-right:before
  content "\f10b"

.{fi-prefix}arrow-up:before
  content "\f10c"

.{fi-prefix}arrows-compress:before
  content "\f10d"

.{fi-prefix}arrows-expand:before
  content "\f10e"

.{fi-prefix}arrows-in:before
  content "\f10f"

.{fi-prefix}arrows-out:before
  content "\f110"

.{fi-prefix}asl:before
  content "\f111"

.{fi-prefix}asterisk:before
  content "\f112"

.{fi-prefix}at-sign:before
  content "\f113"

.{fi-prefix}background-color:before
  content "\f114"

.{fi-prefix}battery-empty:before
  content "\f115"

.{fi-prefix}battery-full:before
  content "\f116"

.{fi-prefix}battery-half:before
  content "\f117"

.{fi-prefix}bitcoin-circle:before
  content "\f118"

.{fi-prefix}bitcoin:before
  content "\f119"

.{fi-prefix}blind:before
  content "\f11a"

.{fi-prefix}bluetooth:before
  content "\f11b"

.{fi-prefix}bold:before
  content "\f11c"

.{fi-prefix}book-bookmark:before
  content "\f11d"

.{fi-prefix}book:before
  content "\f11e"

.{fi-prefix}bookmark:before
  content "\f11f"

.{fi-prefix}braille:before
  content "\f120"

.{fi-prefix}burst-new:before
  content "\f121"

.{fi-prefix}burst-sale:before
  content "\f122"

.{fi-prefix}burst:before
  content "\f123"

.{fi-prefix}calendar:before
  content "\f124"

.{fi-prefix}camera:before
  content "\f125"

.{fi-prefix}check:before
  content "\f126"

.{fi-prefix}checkbox:before
  content "\f127"

.{fi-prefix}clipboard-notes:before
  content "\f128"

.{fi-prefix}clipboard-pencil:before
  content "\f129"

.{fi-prefix}clipboard:before
  content "\f12a"

.{fi-prefix}clock:before
  content "\f12b"

.{fi-prefix}closed-caption:before
  content "\f12c"

.{fi-prefix}cloud:before
  content "\f12d"

.{fi-prefix}comment-minus:before
  content "\f12e"

.{fi-prefix}comment-quotes:before
  content "\f12f"

.{fi-prefix}comment-video:before
  content "\f130"

.{fi-prefix}comment:before
  content "\f131"

.{fi-prefix}comments:before
  content "\f132"

.{fi-prefix}compass:before
  content "\f133"

.{fi-prefix}contrast:before
  content "\f134"

.{fi-prefix}credit-card:before
  content "\f135"

.{fi-prefix}crop:before
  content "\f136"

.{fi-prefix}crown:before
  content "\f137"

.{fi-prefix}css3:before
  content "\f138"

.{fi-prefix}database:before
  content "\f139"

.{fi-prefix}die-five:before
  content "\f13a"

.{fi-prefix}die-four:before
  content "\f13b"

.{fi-prefix}die-one:before
  content "\f13c"

.{fi-prefix}die-six:before
  content "\f13d"

.{fi-prefix}die-three:before
  content "\f13e"

.{fi-prefix}die-two:before
  content "\f13f"

.{fi-prefix}dislike:before
  content "\f140"

.{fi-prefix}dollar-bill:before
  content "\f141"

.{fi-prefix}dollar:before
  content "\f142"

.{fi-prefix}download:before
  content "\f143"

.{fi-prefix}eject:before
  content "\f144"

.{fi-prefix}elevator:before
  content "\f145"

.{fi-prefix}euro:before
  content "\f146"

.{fi-prefix}eye:before
  content "\f147"

.{fi-prefix}fast-forward:before
  content "\f148"

.{fi-prefix}female-symbol:before
  content "\f149"

.{fi-prefix}female:before
  content "\f14a"

.{fi-prefix}filter:before
  content "\f14b"

.{fi-prefix}first-aid:before
  content "\f14c"

.{fi-prefix}flag:before
  content "\f14d"

.{fi-prefix}folder-add:before
  content "\f14e"

.{fi-prefix}folder-lock:before
  content "\f14f"

.{fi-prefix}folder:before
  content "\f150"

.{fi-prefix}foot:before
  content "\f151"

.{fi-prefix}foundation:before
  content "\f152"

.{fi-prefix}graph-bar:before
  content "\f153"

.{fi-prefix}graph-horizontal:before
  content "\f154"

.{fi-prefix}graph-pie:before
  content "\f155"

.{fi-prefix}graph-trend:before
  content "\f156"

.{fi-prefix}guide-dog:before
  content "\f157"

.{fi-prefix}hearing-aid:before
  content "\f158"

.{fi-prefix}heart:before
  content "\f159"

.{fi-prefix}home:before
  content "\f15a"

.{fi-prefix}html5:before
  content "\f15b"

.{fi-prefix}indent-less:before
  content "\f15c"

.{fi-prefix}indent-more:before
  content "\f15d"

.{fi-prefix}info:before
  content "\f15e"

.{fi-prefix}italic:before
  content "\f15f"

.{fi-prefix}key:before
  content "\f160"

.{fi-prefix}laptop:before
  content "\f161"

.{fi-prefix}layout:before
  content "\f162"

.{fi-prefix}lightbulb:before
  content "\f163"

.{fi-prefix}like:before
  content "\f164"

.{fi-prefix}link:before
  content "\f165"

.{fi-prefix}list-bullet:before
  content "\f166"

.{fi-prefix}list-number:before
  content "\f167"

.{fi-prefix}list-thumbnails:before
  content "\f168"

.{fi-prefix}list:before
  content "\f169"

.{fi-prefix}lock:before
  content "\f16a"

.{fi-prefix}loop:before
  content "\f16b"

.{fi-prefix}magnifying-glass:before
  content "\f16c"

.{fi-prefix}mail:before
  content "\f16d"

.{fi-prefix}male-female:before
  content "\f16e"

.{fi-prefix}male-symbol:before
  content "\f16f"

.{fi-prefix}male:before
  content "\f170"

.{fi-prefix}map:before
  content "\f171"

.{fi-prefix}marker:before
  content "\f172"

.{fi-prefix}megaphone:before
  content "\f173"

.{fi-prefix}microphone:before
  content "\f174"

.{fi-prefix}minus-circle:before
  content "\f175"

.{fi-prefix}minus:before
  content "\f176"

.{fi-prefix}mobile-signal:before
  content "\f177"

.{fi-prefix}mobile:before
  content "\f178"

.{fi-prefix}monitor:before
  content "\f179"

.{fi-prefix}mountains:before
  content "\f17a"

.{fi-prefix}music:before
  content "\f17b"

.{fi-prefix}next:before
  content "\f17c"

.{fi-prefix}no-dogs:before
  content "\f17d"

.{fi-prefix}no-smoking:before
  content "\f17e"

.{fi-prefix}page-add:before
  content "\f17f"

.{fi-prefix}page-copy:before
  content "\f180"

.{fi-prefix}page-csv:before
  content "\f181"

.{fi-prefix}page-delete:before
  content "\f182"

.{fi-prefix}page-doc:before
  content "\f183"

.{fi-prefix}page-edit:before
  content "\f184"

.{fi-prefix}page-export-csv:before
  content "\f185"

.{fi-prefix}page-export-doc:before
  content "\f186"

.{fi-prefix}page-export-pdf:before
  content "\f187"

.{fi-prefix}page-export:before
  content "\f188"

.{fi-prefix}page-filled:before
  content "\f189"

.{fi-prefix}page-multiple:before
  content "\f18a"

.{fi-prefix}page-pdf:before
  content "\f18b"

.{fi-prefix}page-remove:before
  content "\f18c"

.{fi-prefix}page-search:before
  content "\f18d"

.{fi-prefix}page:before
  content "\f18e"

.{fi-prefix}paint-bucket:before
  content "\f18f"

.{fi-prefix}paperclip:before
  content "\f190"

.{fi-prefix}pause:before
  content "\f191"

.{fi-prefix}paw:before
  content "\f192"

.{fi-prefix}paypal:before
  content "\f193"

.{fi-prefix}pencil:before
  content "\f194"

.{fi-prefix}photo:before
  content "\f195"

.{fi-prefix}play-circle:before
  content "\f196"

.{fi-prefix}play-video:before
  content "\f197"

.{fi-prefix}play:before
  content "\f198"

.{fi-prefix}plus:before
  content "\f199"

.{fi-prefix}pound:before
  content "\f19a"

.{fi-prefix}power:before
  content "\f19b"

.{fi-prefix}previous:before
  content "\f19c"

.{fi-prefix}price-tag:before
  content "\f19d"

.{fi-prefix}pricetag-multiple:before
  content "\f19e"

.{fi-prefix}print:before
  content "\f19f"

.{fi-prefix}prohibited:before
  content "\f1a0"

.{fi-prefix}projection-screen:before
  content "\f1a1"

.{fi-prefix}puzzle:before
  content "\f1a2"

.{fi-prefix}quote:before
  content "\f1a3"

.{fi-prefix}record:before
  content "\f1a4"

.{fi-prefix}refresh:before
  content "\f1a5"

.{fi-prefix}results-demographics:before
  content "\f1a6"

.{fi-prefix}results:before
  content "\f1a7"

.{fi-prefix}rewind-ten:before
  content "\f1a8"

.{fi-prefix}rewind:before
  content "\f1a9"

.{fi-prefix}rss:before
  content "\f1aa"

.{fi-prefix}safety-cone:before
  content "\f1ab"

.{fi-prefix}save:before
  content "\f1ac"

.{fi-prefix}share:before
  content "\f1ad"

.{fi-prefix}sheriff-badge:before
  content "\f1ae"

.{fi-prefix}shield:before
  content "\f1af"

.{fi-prefix}shopping-bag:before
  content "\f1b0"

.{fi-prefix}shopping-cart:before
  content "\f1b1"

.{fi-prefix}shuffle:before
  content "\f1b2"

.{fi-prefix}skull:before
  content "\f1b3"

.{fi-prefix}social-500px:before
  content "\f1b4"

.{fi-prefix}social-adobe:before
  content "\f1b5"

.{fi-prefix}social-amazon:before
  content "\f1b6"

.{fi-prefix}social-android:before
  content "\f1b7"

.{fi-prefix}social-apple:before
  content "\f1b8"

.{fi-prefix}social-behance:before
  content "\f1b9"

.{fi-prefix}social-bing:before
  content "\f1ba"

.{fi-prefix}social-blogger:before
  content "\f1bb"

.{fi-prefix}social-delicious:before
  content "\f1bc"

.{fi-prefix}social-designer-news:before
  content "\f1bd"

.{fi-prefix}social-deviant-art:before
  content "\f1be"

.{fi-prefix}social-digg:before
  content "\f1bf"

.{fi-prefix}social-dribbble:before
  content "\f1c0"

.{fi-prefix}social-drive:before
  content "\f1c1"

.{fi-prefix}social-dropbox:before
  content "\f1c2"

.{fi-prefix}social-evernote:before
  content "\f1c3"

.{fi-prefix}social-facebook:before
  content "\f1c4"

.{fi-prefix}social-flickr:before
  content "\f1c5"

.{fi-prefix}social-forrst:before
  content "\f1c6"

.{fi-prefix}social-foursquare:before
  content "\f1c7"

.{fi-prefix}social-game-center:before
  content "\f1c8"

.{fi-prefix}social-github:before
  content "\f1c9"

.{fi-prefix}social-google-plus:before
  content "\f1ca"

.{fi-prefix}social-hacker-news:before
  content "\f1cb"

.{fi-prefix}social-hi5:before
  content "\f1cc"

.{fi-prefix}social-instagram:before
  content "\f1cd"

.{fi-prefix}social-joomla:before
  content "\f1ce"

.{fi-prefix}social-lastfm:before
  content "\f1cf"

.{fi-prefix}social-linkedin:before
  content "\f1d0"

.{fi-prefix}social-medium:before
  content "\f1d1"

.{fi-prefix}social-myspace:before
  content "\f1d2"

.{fi-prefix}social-orkut:before
  content "\f1d3"

.{fi-prefix}social-path:before
  content "\f1d4"

.{fi-prefix}social-picasa:before
  content "\f1d5"

.{fi-prefix}social-pinterest:before
  content "\f1d6"

.{fi-prefix}social-rdio:before
  content "\f1d7"

.{fi-prefix}social-reddit:before
  content "\f1d8"

.{fi-prefix}social-skillshare:before
  content "\f1d9"

.{fi-prefix}social-skype:before
  content "\f1da"

.{fi-prefix}social-smashing-mag:before
  content "\f1db"

.{fi-prefix}social-snapchat:before
  content "\f1dc"

.{fi-prefix}social-spotify:before
  content "\f1dd"

.{fi-prefix}social-squidoo:before
  content "\f1de"

.{fi-prefix}social-stack-overflow:before
  content "\f1df"

.{fi-prefix}social-steam:before
  content "\f1e0"

.{fi-prefix}social-stumbleupon:before
  content "\f1e1"

.{fi-prefix}social-treehouse:before
  content "\f1e2"

.{fi-prefix}social-tumblr:before
  content "\f1e3"

.{fi-prefix}social-twitter:before
  content "\f1e4"

.{fi-prefix}social-vimeo:before
  content "\f1e5"

.{fi-prefix}social-windows:before
  content "\f1e6"

.{fi-prefix}social-xbox:before
  content "\f1e7"

.{fi-prefix}social-yahoo:before
  content "\f1e8"

.{fi-prefix}social-yelp:before
  content "\f1e9"

.{fi-prefix}social-youtube:before
  content "\f1ea"

.{fi-prefix}social-zerply:before
  content "\f1eb"

.{fi-prefix}social-zurb:before
  content "\f1ec"

.{fi-prefix}sound:before
  content "\f1ed"

.{fi-prefix}star:before
  content "\f1ee"

.{fi-prefix}stop:before
  content "\f1ef"

.{fi-prefix}strikethrough:before
  content "\f1f0"

.{fi-prefix}subscript:before
  content "\f1f1"

.{fi-prefix}superscript:before
  content "\f1f2"

.{fi-prefix}tablet-landscape:before
  content "\f1f3"

.{fi-prefix}tablet-portrait:before
  content "\f1f4"

.{fi-prefix}target-two:before
  content "\f1f5"

.{fi-prefix}target:before
  content "\f1f6"

.{fi-prefix}telephone-accessible:before
  content "\f1f7"

.{fi-prefix}telephone:before
  content "\f1f8"

.{fi-prefix}text-color:before
  content "\f1f9"

.{fi-prefix}thumbnails:before
  content "\f1fa"

.{fi-prefix}ticket:before
  content "\f1fb"

.{fi-prefix}torso-business:before
  content "\f1fc"

.{fi-prefix}torso-female:before
  content "\f1fd"

.{fi-prefix}torso:before
  content "\f1fe"

.{fi-prefix}torsos-all-female:before
  content "\f1ff"

.{fi-prefix}torsos-all:before
  content "\f200"

.{fi-prefix}torsos-female-male:before
  content "\f201"

.{fi-prefix}torsos-male-female:before
  content "\f202"

.{fi-prefix}torsos:before
  content "\f203"

.{fi-prefix}trash:before
  content "\f204"

.{fi-prefix}trees:before
  content "\f205"

.{fi-prefix}trophy:before
  content "\f206"

.{fi-prefix}underline:before
  content "\f207"

.{fi-prefix}universal-access:before
  content "\f208"

.{fi-prefix}unlink:before
  content "\f209"

.{fi-prefix}unlock:before
  content "\f20a"

.{fi-prefix}upload-cloud:before
  content "\f20b"

.{fi-prefix}upload:before
  content "\f20c"

.{fi-prefix}usb:before
  content "\f20d"

.{fi-prefix}video:before
  content "\f20e"

.{fi-prefix}volume-none:before
  content "\f20f"

.{fi-prefix}volume-strike:before
  content "\f210"

.{fi-prefix}volume:before
  content "\f211"

.{fi-prefix}web:before
  content "\f212"

.{fi-prefix}wheelchair:before
  content "\f213"

.{fi-prefix}widget:before
  content "\f214"

.{fi-prefix}wrench:before
  content "\f215"

.{fi-prefix}x-circle:before
  content "\f216"

.{fi-prefix}x:before
  content "\f217"

.{fi-prefix}yen:before
  content "\f218"

.{fi-prefix}zoom-in:before
  content "\f219"

.{fi-prefix}zoom-out:before
  content "\f21a"