// ===============================================
// Mixins / Button.styl                         ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

/**
 * Create a normal button
 *
 * @param color background color
 */
make-button(color)
  border: 0
  outline: 0

  cursor: pointer
  border-radius: 3px

  text-align: center
  line-height: 1.5em
  text-decoration: none

  padding: .5rem 1.2rem
  display: inline-block
  vertical-align: middle

  transition: background .4s ease

  set-button-color: color

  &[disabled]
    opacity: .6

    border: 0

    box-shadow: none
    cursor: not-allowed

    .icon-spin::before
      animation-play-state: paused

/**
 * Set color of normal button
 *
 * @param color background color
 */
set-button-color(color)
  if dark(color)
    color: #fff
  else
    color: color-normal

  background-color: color

  &:hover
    background-color: lighten(color, 6)

  &:active
    background-color: darken(color, 4)

  &[disabled]
    background-color: color

/**
 * Create a outlined button
 *
 * @param color background color
 */
make-outlined-button(color)
  color: color
  background-color: transparent

  box-shadow: 0 0 0 1px inset

  &:hover
    background-color: rgba(0, 0, 0, .3)

  &:active
    background-color: rgba(0, 0, 0, .6)

  &:visited
    color: #fff

/**
 * Change color of outlined button
 *
 * @param color button color
 */
set-outlined-button-color(color)
  color: color

  if dark(color)
    &:hover
      background: rgba(255, 255, 255, .3)

    &:active
      background: rgba(255, 255, 255, .6)
