/**
 * Mixins / Button.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"

/**
 * Create a normal button
 *
 * @param color background color
 */
make-button(color)
  border: 0
  outline: 0

  cursor: pointer
  border-radius: border-radius-width

  text-align: center

  padding: .1em 1em
  display: inline-block
  vertical-align: middle

  transition: background .4s ease

  set-button-color: color

  &[disabled]
  &.-disabled
    opacity: .6
    border: 0

    cursor: not-allowed
    user-select: none

    .icon-spin
      animation-play-state: paused

/**
 * Set color of normal button
 *
 * @param color background color
 */
set-button-color(color)
  if dark(color)
    color: #fff

  background-color: color

  &:hover
    background-color: lighten(color, 6)

  &:active
    background-color: darken(color, 4)

  &[disabled]
  &.-disabled
    background-color: color

/**
 * Create a outlined button
 *
 * @param color background color
 */
make-outlined-button(color)
  color: color
  background-color: transparent

  box-shadow: 0 0 0 1px inset

  &:hover
    background: rgba(255, 255, 255, .3)

  &:active
    background: rgba(255, 255, 255, .6)

  &:visited
    color: color