/**
 * Mixins / Grid.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

grid(index, columns, mode = grid)
  if mode is grid
    flex: none
    width: (index / columns) * 100%

  if mode is offset
    margin-left: (index / columns) * 100%

make-grid-set(mode = grid, columns = 12, query = null)
  prefix = mode is offset ? '-offset' : '-'
  query = '-' + query if query is not null

  for index in 1..columns
    .column.is{prefix}{index}{query}
      grid(index, columns, mode)

make-grid(columns = 12, query = null)
  make-grid-set(grid, columns, query)
  make-grid-set(offset, columns, query)
