// ===============================================
// Lutachu CSS / Button.styl                    ||
// Button Style                                 ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 21:55  ||
// Last Update: 2015-02-20 16:25 @ Rakume       ||
// MIT License                                  ||
// ===============================================

// Normal, Hover, Active

btn-bgcolor(n, l = 6, d = 4)
  &
    background-color n

  &:hover
    background-color lighten(n, l)
    box-shadow 1px 1px 3px rgba(0, 0, 0, .2)

  &.btn-active,
  &:active
    background-color darken(n, d)
    box-shadow 1px 1px 3px rgba(0, 0, 0, .4)

  &.btn-disabled,
  &[disabled]
    &,
    &:hover,
    &:active
      border 0
      opacity .6
      background n
      box-shadow none
      cursor not-allowed

.btn
  border 0
  outline 0
  border 0
  color #fff
  cursor pointer
  text-align center
  padding .35em 1.2em
  text-decoration none
  color color-btn
  display inline-block
  vertical-align middle
  btn-bgcolor lighten(color-grey, 22)
  transition background .4s ease, box-shadow .1s linear

  [class*=icon-]:before
    transform scale(1.2)

  &.btn-default,
  &.btn-primary,
  &.btn-secondary,
  &.btn-success,
  &.btn-warning,
  &.btn-error
    color #fff

    [class*=icon-]:before
      color #fff

  &.btn-default
    btn-bgcolor darken(color-grey, 26)

  &.btn-primary
    btn-bgcolor color-blue

  &.btn-secondary
    btn-bgcolor color-light-blue

  &.btn-success
    btn-bgcolor color-green

  &.btn-error
    btn-bgcolor color-red

  &.btn-warning
    btn-bgcolor color-orange

  &.btn-xl
    font-size 1.4rem

  &.btn-lg
    font-size 1.2rem

  &.btn-sm
    font-size .8rem

  &.btn-xs
    font-size .6rem