// ===============================================
// Elements / Button.styl                       ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

// Let's Change Button's Color
// ==============================================
// Variables: c: background color
//            t: text color

BtnColor(c, t)
  color: t;
  background-color: c;
  
    [class*=icon-]:before
      color: t;

  &.hover,
  &:hover
    background-color: lighten(c, 6);

  &.active,
  &:active
    background-color: darken(c, 4);

  &.disabled,
  &[disabled]
    &,
    &:hover,
    &:active
      border: 0;
      opacity: .6;
      background: c;
      box-shadow: none;
      cursor: not-allowed;

// Create A Button
// ==============================================
// Variables: c: background color
//            t: text color

Btn(c, t)
  border: 0;
  outline: 0;
  margin: .225em;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  line-height: 1.5em;
  padding: .35em 1.2em;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, .4);
  transition: background .4s ease, box-shadow .2s ease;
  btn-bgcolor: c t;

  &:hover
    box-shadow: 0 0px 3px rgba(0, 0, 0, .4);

  &.active,
  &:active,
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  
  [class*=icon-]:before
    transform: scale(1.2);

.btn
  Btn: #fff #222;

  &.btn-primary
    BtnColor: #198ac8 #fff;

  &.btn-secondary
    BtnColor: #4eb3e9 #fff;

  &.btn-success
    BtnColor: #19c856 #fff;

  &.btn-error
    BtnColor: #E63752 #fff;

  &.btn-warning
    BtnColor: #E8CB2C #fff;

  &.btn-ghost
    color: #fff;
    box-shadow: none;
    border: 1px solid;
    background-color: transparent;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .6);

    &.hover,
    &:hover
      color: #fff;
      border: 1px solid;
      background-color rgba(255, 255, 255, .3)

    &.active,
    &:active
      color: #fff;
      border: 1px solid;
      background-color rgba(255, 255, 255, .6)

    &:visited
      color: #fff;

  &.btn-xl
    font-size 150%

  &.btn-lg
    font-size 125%

  &.btn-sm
    font-size 75%

  &.z-xs
    font-size 50%