// ===============================================
// Lutachu CSS / Code.styl                      ||
// Code Block                                   ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 21:44  ||
// Last Update: 2015-02-19 21:55 @ Rakume       ||
// MIT License                                  ||
// ===============================================

tt,
code
  font-size .8em
  margin: 0 .3em
  padding .1em .3em
  border-radius 3px
  word-break break-all
  color color-font-code
  background color-background-code
  border 1px solid color-border

pre
  display block
  overflow auto
  margin 1.6em 0
  font-size .9em
  line-height 1.5
  padding .5em .8em
  color color-font-pre
  background color-background-pre
  border-left width-border solid color-border
  
  code,
  tt
    padding 0
    border none
    font-size 1em
    background none
    color color-font-pre

blockquote
  padding-left 1.3em
  margin 0 0 1.6em 0
  font-size .9em
  line-height 1.62
  color color-font-blockquote
  border-left width-border solid color-border
  
  small
    color color-font-blockquote-small
    display block
    text-align right

  a
    color color-font-blockquote

  p
    margin-bottom .5em

  p:last-child
    margin-bottom 0