// ===============================================
// Lutachu CSS / Table.styl                     ||
// Table Style                                  ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 21:28  ||
// Last Update: 2015-02-19 21:55 @ Rakume       ||
// MIT License                                  ||
// ===============================================

.{ns}table
  width 100%
  font-size .9em
  margin-bottom 1.5em
  border-spacing 0
  border-collapse separate

  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        padding .7rem
        line-height 1.6
        vertical-align top
        border-top 1px solid color-border
  
  > thead
    > tr
      > th,
      > td
        border-top 0
        vertical-align bottom
        border-bottom 1px solid color-border
  
  > tbody + tbody
    > tr:first-child
      > td
        border-top 2px solid color-border

.{ns}table-bordered
  border 1px solid color-border

  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        border-left 1px solid color-border

      > th:first-child,
      > td:first-child
        border-left 0
  
.{ns}table-radius
  border-radius 3px

.{ns}table-striped
  > tbody
    > tr:nth-child(odd)
      > th,
      > td
        background-color color-background-th-odd

.{ns}table-hover
  > tbody
    > tr:hover
      > th,
      > td
        background-color color-background-th

.{ns}table-center
  th,
  td
    text-align center

.{ns}table
  > thead,
  > tbody,
  > tfoot
    > tr.lu-active
      > th,
      > td
        background-color color-background-th-mark