// ===============================================
// Elements / Table.styl                        ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

.m-table
  width: 100%;
  font-size: .9em;
  margin-bottom: 1.5em;
  border-spacing: 0;
  border-collapse: separate;

  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        padding: .7rem;
        line-height: 1.6;
        vertical-align: top;
        border-top: 1px solid color['light-gray'];

        &[scope="row"]
          color: color['gray'];

  > thead
    > tr
      > th,
      > td
        color: color['gray'];
        border-top: 0;
        vertical-align: bottom;
        border-bottom: 1px solid color['light-gray'];

  > tbody + tbody
    > tr:first-child
      > td
        border-top: 2px solid color['grey'];

  &.z-bordered
    border: 1px solid color['light-gray'];

    > thead,
    > tbody,
    > tfoot
      > tr
        > th,
        > td
          border-left: 1px solid color['light-gray'];

        > th:first-child,
        > td:first-child
          border-left: 0;

  &.z-striped
    > tbody
      > tr:nth-child(odd)
        > th,
        > td
          background-color: color['light-grey'];

  &.z-hover
    > tbody
      > tr:hover
        > th,
        > td
          background-color: color['dark-grey'];

  &.z-center
    th,
    td
      text-align center

  > thead,
  > tbody,
  > tfoot
    > tr.z-active
      > th,
      > td
        background-color background-th-mark