// ===============================================
// Lutachu CSS / Table.styl                     ||
// Table Style                                  ||
// =============================================||
// Made by Rakume<i@fake.moe> 2015-02-19 21:28  ||
// Last Update: 2015-02-20 15:39 @ Rakume       ||
// MIT License                                  ||
// ===============================================

.table
  width 100%
  font-size .9em
  margin-bottom 1.5em
  border-spacing 0
  border-collapse separate

  > thead,
  > tbody,
  > tfoot
    > tr
      > th,
      > td
        padding .7rem
        line-height 1.6
        vertical-align top
        border-top 1px solid color-border

  > thead
    > tr
      > th,
      > td
        border-top 0
        vertical-align bottom
        border-bottom 1px solid color-border

  > tbody + tbody
    > tr:first-child
      > td
        border-top 2px solid color-border

  &.table-bordered
    border 1px solid color-border

    > thead,
    > tbody,
    > tfoot
      > tr
        > th,
        > td
          border-left 1px solid color-border

        > th:first-child,
        > td:first-child
          border-left 0

  &.table-radius
    border-radius 3px

  &.table-striped
    > tbody
      > tr:nth-child(odd)
        > th,
        > td
          background-color background-th-odd

  &.table-hover
    > tbody
      > tr:hover
        > th,
        > td
          background-color background-th

  &.table-center
    th,
    td
      text-align center

  > thead,
  > tbody,
  > tfoot
    > tr.lu-active
      > th,
      > td
        background-color background-th-mark