// ===============================================
// Mixins.styl                                  ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

// CSS 3
// -----------------------------------------------------------------------------

@keyframes spin
  0%
    transform rotate(0deg)

  100%
    transform rotate(359deg)

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

// Border Radius

border-radius()
  vendor('border-radius', arguments)

border-top-radius(n)
  border-radius n n 0 0

border-right-radius(n)
  border-radius 0 n n 0

border-bottom-radius(n)
  border-radius 0 0 n n

border-left-radius(n)
  border-radius n 0 0 n

// Transform
transform()
  vendor('transform', arguments)

// Animation
animation()
  vendor('animation', arguments)

// Transition
transition()
  vendor('transition', arguments)

// Box-Shadow
box-shadow()
  vendor('box-shadow', arguments)

spin(v)
  animation spin v infinite linear

// Float

clearfix()
  &:before,
  &:after
    content " "
    display table

  &:after
    clear both

// Center

center()
  display block
  margin-left auto
  margin-right auto

// Size

size(w, h)
  width w
  height h

square(w)
  size w, w

circle(w)
  square w
  border-radius 50%