// ===============================================
// Utilities.styl                               ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

@require "variables"
@require "mixins/box"

// Position

.is-absolute
  position: absolute

.is-relative
  position: relative

.is-fixed
  position: fixed

// Float

.left
  float: left !important

.right
  float: right !important

.clearfix
  clearfix()

// Text & Block

.center
  center()

// Display

.is-block
  display: block !important

.is-inline
  display: inline !important

.is-inline-block
  display: inline-block !important

.is-hide
  display: none !important
  visibility: hidden !important

// Font-family

.is-serif
  font-family: font-family-serif

.is-kai
  font-family: font-family-kai

.is-monospace
  font-family: font-family-monospace

// Other

.container
  max-width: 80%

  center()
  clearfix()

  @media mq-tablet
    max-width: 92%

  @media mq-mobile
    max-width: 100%
    padding-left: 1em
    padding-right: 1em

.is-radius
  border-radius: border-radius-width

.is-circle
  border-radius: 99999999px
