/**
 * Utilities.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "variables"
@require "mixins/box"

/**
 * Position
 */
.is-absolute
  position: absolute

.is-relative
  position: relative

.is-fixed
  position: fixed

/**
 * Floating
 */
.float-left
  float: left

.float-right
  float: right

.clearfix
  clearfix()

/**
 * Text & Block
 */
.is-center
  center()

.text-center
  text-align: center

// Text align
.text-left
  text-align: left

.text-right
  text-align: right

.text-justify
  text-align: justify

// Text style
.is-normal
  font-weight: global-font-weight

.is-bold
  font-weight: bolder

.is-italic
  font-style: italic

// Others
.text-ellipsis
  text-overflow: ellipsis

.text-clip
  text-overflow: clip


/**
 * Display
 */
.is-block
  display: block

.is-inline
  display: inline

.is-inline-block
  display: inline-block

.is-flex
  display: flex

.is-inline-flex
  display: inline-flex

.is-hide
  display: none

.is-visible
  display: visible

.is-invisible
  visibility: hidden

/**
 * Font families
 */
.is-serif
  font-family: font-family-serif

.is-kai
  font-family: font-family-kai

.is-monospace
  font-family: font-family-monospace

// Other

.container
  max-width: 80%

  center()
  clearfix()

  @media mq-tablet
    max-width: 92%

  @media mq-mobile
    max-width: 100%
    padding-left: 1em
    padding-right: 1em

/**
 * Radius
 */
.is-radius
  border-radius: border-radius-width

.is-circle
  border-radius: 99999999px
