/**
 * Variables.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

/**
 * Font families
 */
font-family-sans-serif = "Segoe UI", "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", sans-serif
font-family-serif      = Georgia, "Times New Roman", Times, SimSun, serif
font-family-kai        = Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif
font-family-monospace  = 'Source Code Pro', Monaco, Menlo, Consolas, "Courier New", monospace
font-family-normal = font-family-sans-serif

/**
 * Colors
 */
color-normal    = #333
color-dark-grey = #888
color-link      = #0275d8
color-link-grey = #bbb

color-primary   = #198ac8
color-secondary = #16cbdf
color-success   = #19c870
color-error     = #c8192a
color-warning   = #e0ca00

color-background-bar   = #f7f7f7
color-background-code  = #f7f7f7
color-background-table = #f7f7f7
color-background-table-hover = #e8e8e8
color-background-table-mark  = #ffff85

color-border-light  = #dbdbdb
color-border-normal = #ddd
color-border-focus  = #888
color-border-mark   = #eaea90

/**
 * Others
 */
border-width = .3rem
border-radius-width = .3rem

/**
 * Media queries
 */
mq-mobile = 'screen and (max-width: 40rem)'
mq-tablet = 'screen and (min-width: 40rem) and (max-width: 80rem)'
mq-desktop = 'screen and (min-width: 120rem)'

mq-non-mobile = 'screen and (min-width: 40rem)'
mq-non-tablet = 'screen and (max-width: 40rem) and (min-width: 80rem)'
mq-non-desktop = 'screen and (max-width: 120rem)'
