// ===============================================
// Layout / Grid.styl                           ||
//                                              ||
// =============================================||
// Copyright 2015 @ Rakume<i@fake.moe>          ||
// MIT License                                  ||
// ===============================================

.grid
  center()
  clearfix()

  margin-top 1em
  margin-left -1em
  margin-right -1em

[class=grid-u]
  float left
  padding 0 1em
  display inline

.grid-u
  @media mq-normal
    for n in 1..12
      &.z-n{n}
        width (n/12) * 100 + '%'

      &.z-ml-n{n}
        margin-left (n/12) * 100 + '%'
  
      // AVG Grid
      &.z-avg-n{n}
        width (1/n) * 100 + '%'
  
  @media mq-tablet
    for n in 1..12
      &.z-t{n}
        width (n/12) * 100 + '%'

      &.z-ml-t{n}
        margin-left (n/12) * 100 + '%'
  
      // AVG Grid
      &.z-avg-t{n}
        width (1/n) * 100 + '%'

  @media mq-mobile
    for n in 1..12
      &.z-m{n}
        width (n/12) * 100 + '%'

      &.z-ml-m{n}
        margin-left (n/12) * 100 + '%'
  
      // AVG Grid
      &.z-avg-m{n}
        width (1/n) * 100 + '%'