/**
 * Layout / Grid.styl
 *
 * @since 1.0
 * @author Rakume Hayashi<h@rakume.com>
 * @license MIT License
 */

@require "../variables"
@require "../mixins/box"
@require "../mixins/grid"

.row
  display: flex !important

  &.is-multiline
    flex-wrap: wrap

  &.is-gapless
    > .column
      margin: 0
      padding: 0

.column
  flex: 1
  padding: 1rem

make-grid(grid-columns)

@media mq-mobile
  make-grid(grid-columns, mobile)

@media mq-tablet
  make-grid(grid-columns, tablet)

@media mq-desktop
  make-grid(grid-columns, desktop)
