// ===============================================
// Layout / Grid.styl                           ||
//                                              ||
// =============================================||
// Since 2015 @ Rakume<i@fake.moe>              ||
// MIT License                                  ||
// ===============================================

@require "../variables"
@require "../mixins/box"
@require "../mixins/grid"

.row
  display: flex

  &.is-multiline
    flex-wrap: wrap

  &.is-gapless
    .column
      padding: 0

  .column
    padding: 0 1rem

.column
  flex: 1
  padding: 1rem

grid()

@media mq-mobile
  grid(12, mobile)

@media mq-tablet
  grid(12, tablet)

@media mq-desktop
  grid(12, desktop)
